# drivers/p2pf/msudev/led/Kconfig
# $Id: Kconfig 5704 2010-03-15 01:18:50Z Noguchi Isao $

menuconfig MSUDEV_LED
    tristate "Support LED device"
    default n

if MSUDEV_LED


config MSUDEV_LED_FIXED_DEVNUM
    boolean "Enabled to fixed major number"
    default n

config MSUDEV_LED_FIXED_MAJOR
    int "Major number"
    depends on MSUDEV_LED_FIXED_DEVNUM
    default 245

config MSUDEV_LED_FIXED_MINOR
    int "Minor number"
    depends on MSUDEV_LED_FIXED_DEVNUM
    default 34


choice
    boolean "Select lower level device"
    default MSUDEV_LED_DEV_NONE

config  MSUDEV_LED_DEV_DUMMY
    boolean "dummy lower-level driver"
    depends on MSUDEV_LED

config MSUDEV_LED_DEV_FPGA
    boolean "lower-level driver inplemented on FPGA"
    depends on MSUDEV_LED

config MSUDEV_LED_DEV_NONE
    boolean "lower-level driver is NOT exit"
    depends on MSUDEV_LED

endchoice

# for dummy LED
if MSUDEV_LED_DEV_DUMMY

config MSUDEV_LED_DEV_DUMMY_NUMBER
    int "number of dummy led"
    default 1

endif # MSUDEV_LED_DEV_DUMMY

# for LED implemented on FPGA
if MSUDEV_LED_DEV_FPGA

config MSUDEV_LED_DEV_FPGA_OF
    bool "getting resouces by OF description"
    default y

config MSUDEV_LED_DEV_FPGA_NUMBER
    int "number of led"
    depends on !MSUDEV_LED_DEV_FPGA_OF
    default 1

config MSUDEV_LED_DEV_FPGA_PADDR
    hex "physical start address of registers"
    depends on !MSUDEV_LED_DEV_FPGA_OF
    
config MSUDEV_LED_DEV_FPGA_PSIZE
    hex "byte size of registers"
    depends on !MSUDEV_LED_DEV_FPGA_OF

endif # MSUDEV_LED_DEV_FPGA

config MSUDEV_LED_PROC
    boolean "Support /proc file for debug"
    default n
    depends on PROC_FS


endif # MSUDEV_LED
