# ZION PCI configuration
## $Id: Kconfig 10442 2010-11-16 05:33:35Z Noguchi Isao $

config ZION_PCI
	bool "Support PCI IF"
	default y
	help
	  Select this option if you don't have magic firmware for drivers that
	  need it.

	  If unsure, say Y.

if ZION_PCI
config ZION_SUPPRESS_MASTER_ACTION
	bool "Support Target Transfer Only"
	default y
        help
          Select this option if you don't have magic firmware for drivers that
          need it.

          If unsure, say Y.

endif

config ZION_PCI_WAIT_INIT
    bool "Wait ZION initialization by SYSCON"
    depends on ZION_PCI
    depends on P2IOPORTDRV || P2GPIODRV
    default n
